---
import Layout from '../layouts/Layout.astro';
import { render } from 'astro:content';
import PostHeader from '../components/PostHeader.astro';
import { getPosts } from '../utils';

export async function getStaticPaths() {
  return await getPosts();
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description} lang="en">
  <article>
    <main>

    <PostHeader 
      title={post.data.title}
      category={post.data.category}
      labUrl={post.data.labUrl}
      date={post.data.date}
      portswiggerDescription={post.data.portswiggerDescription}
    />
      <Content />
    </main>
  </article>
</Layout>
