---
import { formatDate } from '../utils';

export interface Props {
  title: string;
  category: string;
  labUrl: string;
  date: string;
  portswiggerDescription: string;
}

const { title, category, labUrl, date, portswiggerDescription } = Astro.props;
---

<div>
  <h1>{title}</h1>
  <div>
    <h2>Lab Description (contains spoilers)</h2>
    <p>
      <strong>{category}</strong> ·
      <a href={labUrl} target="_blank" rel="noopener noreferrer">Portswigger Lab ↗</a>
    </p>
    <p>{portswiggerDescription}</p>
    <small>{formatDate(date)}</small>
  </div>
</div>
